<h1>Add new Post</h1>
<%= form_for :post, url: posts_path do |f| %>
    <p>
        <%= f.label :title %>
        <%= f.text_field(:title, class: "form_control") %>
        
    </p>

    <p>
        <%= f.label :body %>
        <%= f.text_area(:body, class: "form_control") %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>